<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         metadata-complete="false"
         version="5.0">
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>jersey</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
<!--        <init-param>-->
<!--            <param-name>jersey.config.server.provider.packages</param-name>-->
<!--            <param-value>com.hbs.api</param-value>-->
<!--        </init-param>-->
        <init-param>
            <param-name>jakarta.ws.rs.Application</param-name>
            <param-value>com.hbs.boot.HttpBasicSecurityApplication</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>jersey</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

<!--    <security-constraint>-->
<!--        <web-resource-collection>-->
<!--            <web-resource-name>AccountResource</web-resource-name>-->
<!--            <url-pattern>/api/account/*</url-pattern>-->
<!--        </web-resource-collection>-->
<!--        <auth-constraint>-->
<!--            <role-name>customer</role-name>-->
<!--            <role-name>clerk</role-name>-->
<!--            <role-name>manager</role-name>-->
<!--        </auth-constraint>-->
<!--    </security-constraint>-->

    <!-- enabled authentication -->
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>

    <security-role>
        <role-name>manager</role-name>
    </security-role>
    <security-role>
        <role-name>clerk</role-name>
    </security-role>
    <security-role>
        <role-name>customer</role-name>
    </security-role>
    <security-role>
        <role-name>attender</role-name>
    </security-role>
</web-app>
